<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>

    <% if (locals.errorMsg) { %>
      <p><%= locals.errorMsg %></p>
    <% }%>

    <% if (locals.authenticated) { %>
      <form action="/logout">
        <input type="submit" value="Logout">
      </form>
    <% } else { %>
      <p>Log in to continue.</p>
      <form action="/login">
        <input type="submit" value="Login user">
      </form>

      <form action="/client/login">
        <input type="submit" value="Login client">
      </form>
    <% } %>

  </body>
</html>
