<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EntraOS Client</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>EntraOS Client</h1>

    <form action="/login">
      <input type="submit" value="Login">
    </form>

  </body>
</html>
