<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>

    <% if(locals.errorMsg){ %>
      <p><%= locals.errorMsg %></p>
    <% } else { %>
      <p>Log in to continue.</p>
    <% } %>

    <form action="/login">
      <input type="submit" value="Login">
    </form>

  </body>
</html>
